*
!content/
!content/*

!.github/
!.github/workflows
!.github/workflows/publish.yml
    
!.gitignore
!build-site.el
!build.sh
!README.org

!public/
!public/org.css
!public/logo.png
!public/external_links.js

*.gz
