*
!content/
!content/*
!content/**/*
!content/**/**/*

!html/
!html/*

!elisp/
!elisp/*

!.github/
!.github/workflows
!.github/workflows/publish.yml
    
!.gitignore
!build-site.el
!build.sh
!README.org

!public/

!public/icons/
!public/icons/icon-light.png
!public/icons/icon-dark.png

!public/css/
!public/css/*

!public/js/
!public/js/*

*.gz
