*
!content/
!content/*

!.github/
!.github/workflows
!.github/workflows/publish.yml
    
!.gitignore
!build-site.el
!build.sh
!README.org

!public/

!public/icons/
!public/icons/logo-light.png
!public/icons/logo-dark.png

!public/css/
!public/css/sakura.css
!public/css/sakura-dark.css
!public/css/normalize.css

!public/js/
!public/js/external_links.js

*.gz
